.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-back {
    width: 100%;
    height: 100%;
    background-color: #333;
  }
  
  .card-back::after {
    content: '';
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
  }
  